.art, .track, .albs, .length {
    color: blue
}

.alb {
    color: green
}

.current, .status {
    color: red
}

.played, .bitrate {
    color: brown
}

/*button {
    font-size: 14px
}
*/

button.art {
    font-size: 12px
}

span.length {
    font-size: 20px
}

span {
  font-size: 32px
}
