.art, .track, .albs, .length {
  color: blue;
}

.alb {
  color: green;
}

.current, .status {
  color: red;
}

.played {
  color: brown;
}

/* button.art { */
/*   font-size: 1.25vw; */
/* } */

span.track {
  white-space: nowrap;
}

.large {
  font-size: 3vw;
}

.medium {
  font-size: 2vw;
}

.small {
  font-size: 1.25vw;
}
