.art, .track, .albs, .length {
    color: blue
}

.alb {
    color: green
}

.current, .status {
    color: red
}

.played, .bitrate {
    color: brown
}



button.art {
    font-size: 1vw
}

span.length {
    font-size: 2vw
}

span {
  font-size: 3vw
}
